<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.bupt.ticketextraction">
    <uses-feature android:name="android.hardware.camera"
                  android:required="true"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28"
    />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.TicketExtraction"
            android:fullBackupContent="@xml/backup"
            android:requestLegacyExternalStorage="true">
        <activity
                android:name=".main.MainActivity"
                android:alwaysRetainTaskState="true"
                android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".export.SendToEmailActivity"/>
        <activity android:name=".setting.AboutUsActivity"/>
        <activity android:name=".setting.TeamActivity"/>
        <activity android:name=".bill.wallet.CreateWalletActivity"/>
        <activity android:name=".bill.wallet.WalletActivity"/>
        <activity android:name=".bill.tickets.TicketActivity"/>
        <activity android:name=".setting.security.SetPasswordActivity"/>
        <activity android:name=".setting.LoginActivity"/>
        <activity android:name=".setting.PersonInfoActivity"/>
        <activity android:name=".setting.contact.CreateContactActivity"/>
        <activity android:name=".bill.wallet.RenameWalletActivity"/>
        <activity android:name=".setting.contact.ContactActivity"/>
        <provider android:authorities="edu.bupt.ticketextraction.FileProvider"
                  android:name="androidx.core.content.FileProvider"
                  android:exported="false"
                  android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                       android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>